body {
    background-color: #101010;
    color: #dddddd;
    font-family: Courier New;
    font-size: 90%;
    margin: 1em 0.8em;
}

.body {
    border-radius: 1.5em;
    background-color: #333;
    padding: 0.5em 0.5em 2em 0.5em;
}

.topnote {
    padding: 0 0 0.8em 1em;

}

h1 {
    margin: 0.5em;
}

li {
    padding: 0.2em 0.5em;
}

th {
    padding: 10px 10px;
    /*text-align: left;*/
}

a {
    color: #ffffff;
    text-decoration: underline;
}

table {
/*    padding: 10px 4px;*/
    border-spacing: 10px;
  border-collapse: collapse;
}


tr { 
  border-bottom: solid grey;
  border-width: 1px 0;
}

td {
    padding: 10px 10px;
}

table.game {
    padding: 10px 10px;
}

.footer {
    color: #bbb;
    padding: 35px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

.heading {
    font-weight: bold;
    font-size: 110%;
}
