body {
    background-color: #101010;
    color: #dddddd;
    font-family: Courier New;
    font-size: 90%;
    margin: 1em 0.8em;
}

.body {
    border-radius: 1.5em;
    background-color: #333;
    padding: 1em 0.5em 1em 0.5em;
    overflow: auto;    /* Expand to fit all contained floats. */
}

.topnote {
    padding: 0 0 0.8em 1em;

}

h1 {
    margin: 0.5em 0.5em 0.5em 1em;
}

li {
    padding: 0.2em 0.5em;
}

th {
    padding: 10px 10px;
    /*text-align: left;*/
}
p {
    padding: 0 0.5em;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

table {
/*    padding: 10px 4px;*/
    border-spacing: 10px;
  border-collapse: collapse;
  margin: 0.5em 0em;
}


tr { 
  border-bottom: solid grey;
  border-width: 1px 0;
}

td {
    padding: 10px 0px 10px 10px;
}

table.game {
    padding: 10px 10px;
}
.screenshot {
    float: left;
    padding: 0 1em 1em 0;
}

.screenshot img {
    /* This actually looks bad when scaling down an image... could use a fancy
       rule to select only small images /*
    image-rendering: pixelated; /* Chrome */
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.screenshot img {
    /*width: 200%;*/
    min-width: 640px;
    max-width: 640px;
}

.gallery img {
    /* Don't use crisp-edges, since (almost) never scaling up */
    /* I think inline only does something if the <img> is inside a div
       rather an <a>? */
    /*display: inline;*/
    padding: 0 2px 0px 0;
    max-width: 320px;
}

.caption {
    /*background-color: #383838;*/
    border-width: 0 1px 3px 1px;
    border-color: #777;
    border-style: outset;
    padding: 3px 2em;
}

.footer {
    color: #bbb;
    padding: 35px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

.heading {
    font-weight: bold;
    font-size: 110%;
}
